<!DOCTYPE html>
<html lang="en-US">
<head>
<title>Change My Password</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
</style>
<style type="text/css">
/* custom styles */
body {
	max-width: 800px;
	margin: 1em auto; /* TB RL */
	font: 18px/24px sans-serif;
}

h1 {
	font-size: 2em;
	margin: 1em 0;
}

.message {
	border: solid #333 1px;
	padding: 5px;
	margin: 1em auto;
}

.message-success {
	background-color: #cfc;
}

.message-alert {
	background-color: #fcc;
}

td {
	padding: 3px 5px;
}

.controls {
	margin-top: 0.5em;
	margin-bottom: 1.5em;;
}

.footer {
	margin-top: 1em;
	border-top: solid black 1px;
	font-size: 0.8em;
	color: #888;
}

.left {
	float: left;
}

.right {
	float: right;
}

.notes li {
        margin-bottom: 0.5em;
        list-style-type: square;
}

</style>
</head>
<body>

<h1>Change My Password</h1>

[% IF message.content != "" %]
<div class="message message-[%message.class%]">[%message.content%]</div>
[% END %]

[% IF form.enable %]
<form method="post">
<input type="hidden" name="action" value="chpass">
<table cellspacing="0" cellpadding="5" border="0">

<tr>
<td>Your username:</td>
<td><input name="username" value="[%form.username%]"></td>
</tr>

<tr>
<td>Your current password:</td>
<td><input type="password" name="old_passwd"></td>
</tr>

<tr>
<td>New password you want:</td>
<td><input type="password" name="new_passwd"></td>
</tr>

<tr>
<td>New password again, to confirm:</td>
<td><input type="password" name="new_passwd2"></td>
</tr>

[% IF form.enable_badpw_check %]
<tr>
<td>Enable checks for bad password?</td>
<td>
<input type="radio" name="strict_checks" value="1" [% form.badpw_check ? 'checked' : '' %]>Yes
<input type="radio" name="strict_checks" value="0" [% form.badpw_check ? '' : 'checked' %]>No
</td>
</tr>
[% END %]

</table>

<div class="controls">
<input type="submit" value="Change My Password">
</div>

</form>
[% END %]

<div class="notes">
<p>
We've configured a password quality checker to allow both XKCD style passwords (with sufficient entropy) and machine generated “password manager” (E.G. <a href="https://en.wikipedia.org/wiki/KeePass">keepass</a>) style passwords.
</p>

<h4>Training on secure passwords:</h4>

<ul>
<li><a href="https://www.explainxkcd.com/wiki/index.php/936:_Password_Strength">Password Strength (explain XKCD)</a></li>
<li><a href="https://www.explainxkcd.com/wiki/index.php/792:_Password_Reuse">Password Reuse (explain XKCD)</a></li>
</ul>

<p>
As of the last update, the security requirements enforced by our server are precisely... (<a href="http://manpages.ubuntu.com/manpages/bionic/man5/passwdqc.conf.5.html">passwdqc.conf</a>)
</p>
<pre>
min=48,24,11,8,7
max=512
passphrase=3
match=4
similar=deny
random=32
enforce=everyone
retry=0
</pre>

<strong>In human wording:</strong>

<ul>
<li>A passphrase made up of only alphabetical letters (or any other singular category, but this is intended for letters) must be at least 48 units long.</li>
<li>One mixing letters and any other symbols must be at least 24 long.</li>
<li>One mixing both and including weird characters must be at least 11 long (and must also have 3 distinct ‘words’).</li>
<li>Extremely dense machine created passphrases must be 8 or 7 characters, depending on if it uses most or all classes of input characters.</li>
<li>Passwords are also not allowed to be substantively similar to the old one.<br />
(The password library knows what the existing password is only because this material is provided in order to authenticate and obtain the privilege of changing the password; it isn’t stored in plain-text on the disk.)</li>
</ul>
</div>

<div class="footer">
<div class="left">[ <a href="/">home</a> ]</div>
<div class="right">[ powered by <a href="https://github.com/chip-rosenthal/web-chpass">web-chpass</a> ]</div>
</div>

</body>
</html>
